{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
<style>
    .custonButton{background: #1DB954; color: black; border:none;}
</style>
<div style="width:100%;height:80vh;display:flex;justify-content:center;align-items:center;">
    {% if app.user != null %}
        <h1>You are already connected</h1>
    {% else %}
    
    <form action="{{ path('app_security') }}" method="post" style="display:flex;flex-direction:column;width:20%;height:25%;justify-content: space-around;">
        <h1 style="margin:auto;">{% trans %}Connect{% endtrans %}</h1>
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="/en/home"> 
        {% if error %}
            <div style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <button class="custonButton" style="margin-top:10%;" type="submit">Login to spotifiak</button>
    </form>
    {% endif %}


</div>
{% endblock %}
