{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Hello {{ app.user.email }}! ✅</h1>
    {% else %}
        <h1>You are not connected </h1>
    {% endif %}
</div>
{% endblock %}
