{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {% trans %}Add.a.Style{% endtrans %}{% endblock %}
 
{% block body %}
<div style="width:30%;margin:auto;">
    <h1>{% trans %}Style{% endtrans %}</h1>
    {{ form(form) }}
<div>
{% endblock %}