{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {% trans %}Style{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('app_style_creation') }}">{% trans %}Add.a.Style{% endtrans %}</a>
    <div class="d-flex flex-row flex-wrap m-4" style="justify-content: space-evenly;">
		{% for style in styles %}
			<div class="card text-dark" style="width:18%; margin-bottom:12px;background-color:#222222;">
				<div class="card-body">
                	<h3 style="color:white;">{{ style.name }}</h3>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
