{% extends 'base.html.twig' %}

{% block title %}Hello StyleController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <a href="{{ path('app_style_creation') }}">Add a style !</a>
    <ul>
        {% for style in styles %}
            <li> {{ style.name }} </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
