{% extends 'base.html.twig' %}

{% block title %}Hello FanController!{% endblock %}

{% block body %}
    <a href="{{ path('app_fan_creation') }}">Add a fan !</a>
    <ul>
        {% for fan in fans %}
            <li> {{ fan.username }} </li>
        {% endfor %}
    </ul>

{% endblock %}
