{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {% trans %}Music{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('app_music_creation') }}">{% trans %}Add.a.Music{% endtrans %}</a>
    <ul>
        {% for music in musics %}
            <li> {{ music.title }} </li>
        {% endfor %}
    </ul>

{% endblock %}
