{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<a href="{{ path('app_artist_creation') }}">Add an artist</a>
<ul>
    {% for artist in artists %}
        <li> {{ artist.name }} </li>
    {% endfor %}
</ul>
{% endblock %}
