{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
<style>

</style>

<div class="d-flex flex-row flex-wrap justify-content-around m-4">
        {% for album in albums %}
            <div class="card text-dark bg-dark" style="width:15%; margin-bottom:12px;">
                <img class="card-img-top " style="width:95%; margin:auto; margin-top:20px;" src={{album.image}} alt="Card image cap">
                <div class="card-body">
*
                    <p class="card-text" style="color:gray;">From the artist {{album.artist.name}}</p>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}
