{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {% trans %}Cover{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('app_cover_creation') }}">{% trans %}Add.a.Cover{% endtrans %}</a>
    <div class="d-flex flex-row flex-wrap m-4" style="justify-content: space-evenly;">
        {% for cover in covers %}
            <div class="card text-dark bg-dark" style="width:15%; margin-bottom:12px;">
                <img class="card-img-top " style="width:100%; margin:auto; " src={{cover.link}} alt="Card image cap">
                <div class="card-body">
                	<p style="color:gray;">
                    Cover 
                    {% trans %}from{% endtrans %} 
                    <h3 style="color:white;">{{ cover.albumName }}</h3>
                    </p>
				</div>
            </div>
        {% endfor %}
</div>
{% endblock %}
