{% extends 'base.html.twig' %}

{% block title %}{% trans %}Cover{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('app_cover_creation') }}">{% trans %}Add.a.Cover{% endtrans %}</a>
    <ul>
        {% for cover in covers %}
            <li> {{ cover.albumName }} </li>
        {% endfor %}
    </ul>
{% endblock %}
